* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: powdergrey;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: "./assets/images/cloud.jpeg";
  background-size: 100vw;
  background-color: lightblue;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 5px solid burlywood;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header nav ul li {
  color: grey;
  display: inline-block;
  margin-left: 20px;
  font-family: Cambria, "Cochin", Georgia, "Times", "Times New Roman", serif;
  font-size: 20px;
  justify-content: right;
}

header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  display: inline-block;
}

header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  display: inline-flex;
  align-items: center;
}

.banner-list {
  color: burlywood;
  list-style-position: inside;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: row;
  align-items: flex-end;
}

.banner-image {
  font-size: xx-small;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../images/cloud.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  flex-wrap: wrap;
  position: relative;
}

.about-me {
  color: gray;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.project {
  color: gray;
  width: 50%;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  flex-direction: row;
}

.project-name {
  color: grey;
  width: 20%;
  padding: 100;
  margin: 5px;
  font-size: large;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.flex-container-a,
.flex-container-b {
  border: 5px solid cornflowerblue;
  display: flex;
  flex-wrap: unwrap;
  width: 100%;
  margin: 10px;
}

.flex-container-c {
  display: flex;
  flex-wrap: unwrap;
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: large;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.flex-container-d {
  border: 5px solid cornflowerblue;
  display: flex;
  flex-wrap: unwrap;
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: large;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.contact-me {
  padding: 30px;
  clear: both;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  flex-direction: row;
}

.contact-me h4 {
  font-weight: 12px;
  font-size: 18px;
  text-align: center;
  color: burlywood;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: row;
}

section {
  height: 300px;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0%;
}
.art-image-a img {
  width: 300px;
  border-radius: 10px;
}

.art-image-b {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.art-image-a {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.art-image-b img {
  width: 500px;
}
.project {
  height: 300px;
  width: 100%;
  background-image: "./assets/images/cloud.jpeg";
  background-size: 100vw;
  flex-grow: stretch;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer p {
  text-align: center;
}

/* Cards are split into two columns at 992px or smaller @media screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
}

Cards are stacked on top of each other at 768px or smaller
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
} */